<a href="https://colab.research.google.com/github/mojtaba732/ML_Practice/blob/main/Partitioning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

In [8]:
df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 
                    'Ash','Alcalinity of ash', 'Magnesium', 
                    'Total phenols', 'Flavanoids', 
                    'Nonflavanoid phenols','Proanthocyanins',
                    'Color intensity', 'Hue',
                    'OD280/OD315 of diluted wines', 'Proline']
                    
print('Class labels', np.unique(df_wine['Class label']))

Class labels [1 2 3]

In [9]:
df_wine.head()

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

A convenient way to randomly partition

In [10]:
X, y = df_wine.iloc[:, 1:].values, df_wine.iloc[:, 0].values

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state=0,stratify=y)

#Providing the class label array y as an argument to stratify ensures that both training and test datasets have the same class proportions as the original dataset.